#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.contact {
    width: 50%;
    background-color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-color: black;
    border-width: 70%;  
    padding: 20px;
    margin-left: 20%;

}

.socials-links a{
  color: #333;
  text-decoration: none;;
  padding-left: 1000px;
}

.myImg {
    width: 10%;
    border-radius: 40%;
    margin-top: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
